/*________________________________________*\
    FONTS
\*________________________________________*/

@font-face {
    font-family: 'AirbnbCereal';
        src: url('fonts/AirbnbCerealWBk.eot');
        src: url('fonts/AirbnbCerealWBk.woff2') format('woff2'),
            url('fonts/AirbnbCerealWBk.woff') format('woff'),
            url('fonts/AirbnbCerealWBk.ttf') format('truetype'),
            url('fonts/AirbnbCerealWBk.svg') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal';
        src: url('fonts/AirbnbCerealWLt.eot');
        src: url('fonts/AirbnbCerealWLt.woff2') format('woff2'),
            url('fonts/AirbnbCerealWLt.woff') format('woff'),
            url('fonts/AirbnbCerealWLt.ttf') format('truetype'),
            url('fonts/AirbnbCerealWLt.svg') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal';
        src: url('fonts/AirbnbCerealWMd.eot');
        src: url('fonts/AirbnbCerealWMd.woff2') format('woff2'),
            url('fonts/AirbnbCerealWMd.woff') format('woff'),
            url('fonts/AirbnbCerealWMd.ttf') format('truetype'),
            url('fonts/AirbnbCerealWMd.svg') format('svg');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal';
        src: url('fonts/AirbnbCerealWBd.eot');
        src: url('fonts/AirbnbCerealWBd.woff2') format('woff2'),
            url('fonts/AirbnbCerealWBd.woff') format('woff'),
            url('fonts/AirbnbCerealWBd.ttf') format('truetype'),
            url('fonts/AirbnbCerealWBd.svg') format('svg');
        font-weight: 800;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal';
        src: url('fonts/AirbnbCerealWBlk.eot');
        src: url('fonts/AirbnbCerealWBlk.woff2') format('woff2'),
            url('fonts/AirbnbCerealWBlk.woff') format('woff'),
            url('fonts/AirbnbCerealWBlk.ttf') format('truetype'),
            url('fonts/AirbnbCerealWBlk.svg') format('svg');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
}





/*________________________________________*\
    GENERAL STYLES
\*________________________________________*/

* {
    -webkit-box-sizing:  border-box;
        -moz-box-sizing: border-box;
            box-sizing:  border-box;
    scroll-padding-top: 500px;
}

html {
    --top-spacing: 335px;
    scroll-padding-top: var(--top-spacing);
}

header.fixed {
    background-color: #fff;
    position: fixed;
    top:  0;
    left: 0;
    width: 100%;
    z-index: 10;
}

body {
    font-family: AirbnbCereal, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    background-color: #fff;
    color: #222;
    margin: var(--top-spacing) auto;
    display: grid;
    grid-template-columns: 100%;
}

a {
    text-decoration: none;
}





/*________________________________________*\
    HEADER
\*________________________________________*/

#search {
    display: grid;
    grid-template-columns: 87% 13%;
    margin: 0px 55px 0px 55px;
}

.search-button {
    grid-column-start: 1;
    grid-column-end:   2;
    height: 122.5px;
    max-width: 100%;
    background-color: #fff;
    color: #222;
    border: 1.25px solid rgba(174, 174, 174, 0.25);
    cursor: pointer;
    border-radius: 75px;
    box-shadow: 0px 5px 16px 4px rgba(50, 50, 50, 0.08);
    margin: 36px 0px 25px 0px;
    display: grid;
    grid-template-columns: 10% 90%;
}

.search-icon {
    grid-column-start: 1;
    grid-column-end:   2;
}

.search-text {
    grid-column-start: 2;
    grid-column-end:   3;
    text-align: left;
    line-height: 55%;
    margin: 3px 0px 0px 50px;
}

.line-1 {
    font-weight: normal;
    font-size: 32px;
}

.line-2 {
    font-family: 'AirbnbCereal', light;
    font-size: 27px;
    color: rgba(113, 113, 113);
    display: flex;
}

.dot {
    font-family: 'AirbnbCereal', light;
    font-size: 30px;
    color: rgba(113, 113, 113);
    padding: 0 10px 0 10px;
}

.filters-button {
    grid-column-start: 2;
    grid-column-end:   3;
    height: 90px;
    width:  90px;
    background-color: #fff;
    color: #222;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 50%;
    margin: 55px 0px 25px 25px;
}

#property-tabs {
    display: grid;
    grid-template-columns: 100%;
    box-shadow: 0 10px 8px -4px rgba(50, 50, 50, 0.08);
}

.scroll-menu {
    background-color: #fff;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0px 55px 30px 12px;
    -webkit-overflow-scrolling: touch;
}

.scroll-menu::-webkit-scrollbar {
    display: none;
}

.scroll-menu a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #222;
    padding: 14px 45px 10px 45px;
    font-weight: 600;
    font-size: 27px;
}

.selected-property {
    background:linear-gradient(#222,#222) bottom no-repeat;
    background-size: 46% 4.5px;
    padding-bottom: 46px;
}

.not-selected-property a {
    color: rgba(113, 113, 113);
}

.not-selected-property img{
    filter: invert(40%);
    -webkit-filter: invert(40%);
}





/*________________________________________*\
    MAIN - PROPERTY CARDS
\*________________________________________*/

#property-cards {
    display: grid;
    grid-template-columns: 100%;
    margin: 55px 55px 55px 55px;
}

.property-card img {
    min-width: 865px;
    max-width: 865px;
    min-height: 830px;
    max-height: 830px;
    object-fit: cover;
    border-radius: 30px;
}

.property-card {
    position: relative;
    margin-bottom: 85px;
    line-height: 2;
}

.guest-favourite {
    background-color: #fff;
    color: #222;
    height: 68px;
    width: 300px;
    border-style: none;
    border-radius: 75px;
    box-shadow: 0px 7px 18px 8px rgba(50, 50, 50, 0.15);
    padding: 1px 3px;
    font-weight: 600;
    font-size: 32px;
    position: absolute;
    top:  30px;
    left: 30px;
    pointer-events: none;
}

.favourite-heart {
    background-color: transparent;
    height: 50px;
    width:  50px;
    border-style: none;
    position: absolute;
    top:   30px;
    right: 50px;
    pointer-events: none;
}

.property-card-container {
    margin: 15px 0 0 0;
    line-height: 0.5;
}

.property-card-heading {
    display: grid;
    grid-template-columns: 80% 20%;
}

.property-heading {
    grid-column-start: 1;
    grid-column-end:   2;
    font-family: 'AirbnbCereal', medium;
    font-size: 36px;
    text-align: left;
    color: #222;
    margin-top:    6px;
    margin-bottom: 0px;
    padding-top:    10px;
    padding-bottom: 10px;
}

.rating {
    grid-column-start: 2;
    grid-column-end:   3;
    display: inline-block;
    font-size: 36px;
    text-align: right;
}

.property-info {
    font-family: 'AirbnbCereal', light;
    font-size: 34px;
    color: rgba(113, 113, 113);
    margin-top: 25px;
    line-height: 0.4;
}

.property-price {
    font-weight: 500;
    font-size: 36px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: #222;
    line-height: 1.25;
}

h3 {
    font-size: 42px;
    color: #222;
    text-align: center;
}

.show-more {
    margin: auto;
    height: 110px;
    width:  300px;
    background-color: #222;
    color: #fff;
    border-radius: 20px;
    font-size: 36px;
}





/*________________________________________*\
    MAIN - FUTURE GETAWAYS
\*________________________________________*/

#future-getaways {
    background-color: rgba(247, 247, 247);
    position: relative;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    color: #222;
    text-align: left;
    padding-top: 105px;
    margin: 55px 50px 35px 50px;
}

.scroll-menu-2 {
    background-color: rgba(247, 247, 247);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0px 55px 0px 16px;
    -webkit-overflow-scrolling: touch;
}

.scroll-menu-2::-webkit-scrollbar {
    display: none;
}

#selected-link {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #222;
    padding: 14px 35px 30px 35px;
    font-weight: 600;
    font-size: 32px;
    background:linear-gradient(#222,#222) bottom no-repeat;
    background-size: 63% 4.5px;
}

.scroll-menu-2 a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: rgba(113, 113, 113);
    padding: 14px 35px 5px 35px;
    font-weight: 600;
    font-size: 32px;
}

.next-arrow {
    background-color: transparent;
    border-style: none;
    position: absolute;
    top:   30px;
    right: 55px;
    pointer-events: none;
}

#future-getaways hr {
    margin-left:  50px;
    margin-right: 50px;
    background-color: rgba(247, 247, 247);
    border-top: 1.5px solid rgb(215, 215, 215);
}

.location-links {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 55px 15px 70px 55px;
    line-height: 0.4;
    background-color: rgba(247, 247, 247);
}

.location-title {
    font-family: 'AirbnbCereal';
    font-weight: 600;
    font-size: 32px;
    text-decoration: none;
    color: #222;
}

.rental-type {
    font-family: 'AirbnbCereal', light;
    font-size: 32px;
    text-decoration: none;
    color: rgba(113, 113, 113);
    padding-bottom: 17px;
}

.show-more-2 {
    border: 0;
    background-color: transparent;
    font-family: 'AirbnbCereal';
    font-weight: 600;
    font-size: 32px;
    color: #222;
    text-align: left;
    margin-left: -8px;
    margin-top: -65px;
    position: relative;
}

.location-links svg {
    background-color: transparent;
    border-style: none;
    position: absolute;
    top:   30px;
    right: 55px;
    pointer-events: none;
}

hr {
    background-color: rgba(247, 247, 247);
    border-top: 1.5px solid rgb(215, 215, 215);
    margin:  0;
    padding: 0;
}





/*________________________________________*\
    MAIN - SUPPORT / HOSTING / AIRBNB
\*________________________________________*/

#support-hosting-airbnb {
    background-color: rgba(247, 247, 247);
    padding: 10px 55px 0px 55px;
}

.links-heading {
    font-family: 'AirbnbCereal';
    font-weight: 600;
    font-size: 14px;
    color: #222;
    margin-top: 50px;
}

.links {
    padding-bottom: 35px;
}

.links a {
    font-family: 'AirbnbCereal', light;
    font-size: 14px;
    color: #222;
    line-height: 2.25;
    margin-bottom: 50px;
}





/*________________________________________*\
    FOOTER
\*________________________________________*/

footer {
    background-color: rgba(247, 247, 247);
    padding-top:     35px;
    padding-bottom: 155px;
}

.language-button {
    border: 0;
    background-color: transparent;
    font-family: 'AirbnbCereal';
    font-weight: 600;
    font-size: 32px;
    color: #222;
    text-align: left;
    padding: 15px 0px 15px 100px;
    position: relative;
}

.language-button svg {
    position: absolute;
    top:  20px;
    left: 53px;
}

.currency-button {
    border: 0;
    background-color: transparent;
    font-family: 'AirbnbCereal';
    font-weight: 600;
    font-size: 32px;
    color: #222;
    text-align: left;
    padding: 15px 0px 50px 50px;
    position: relative;
}

.copyright {
    padding-left: 55px;
}

.footer-links {
    padding-left: 55px;
    padding-top:   5px;
}

.footer-links a {
    font-family: 'AirbnbCereal', light;
    font-size: 14px;
    color: #222;
    line-height: 1.75;
}

.dot-2 {
    font-family: 'AirbnbCereal', light;
    font-size: 12px;
    color: #222;
    padding: 0 10px 0 10px;
}